<div class="main-block-wrapper">
    <input [(ngModel)]="password" (ngModelChange)="updatePassword($event)" type="password" placeholder="Enter password" class="input-password">
    <div class="sections-block-wrapper" >
      <div [ngStyle]="{'background-color': sectionColors[0]}" class="strength-section"></div>
      <div [ngStyle]="{'background-color': sectionColors[1]}" class="strength-section"></div>
      <div [ngStyle]="{'background-color': sectionColors[2]}" class="strength-section"></div>
    </div>
  </div>